node-red.json
[
    {
        "id": "e39621cdb0af65de",
        "type": "tab",
        "label": "플로우 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98bf320b32b809bc",
        "type": "group",
        "z": "e39621cdb0af65de",
        "name": "기아 공장",
        "style": {
            "stroke": "#ff3f3f",
            "label": true
        },
        "nodes": [
            "8d3f5215d4ea270e",
            "5889d27cf18ac437",
            "dba908b80bdb992a",
            "0eaa21c35dc46282",
            "b39b8e245f426e55",
            "6f520d5459d741a1",
            "b616fdd769eab778",
            "dcb1ddd4e1c51c85",
            "4ded25f1a86f6e70",
            "c141bc042bf93d87",
            "79b9028a18ae7636",
            "07f5d7324d070203",
            "a5bd4c5152388a93",
            "3442783b88ed0a4d",
            "56c857d10cbdc1cc",
            "57a919e75486ccf1",
            "8861a38f351a6cd2",
            "eaeb2ee9a5fa4eeb"
        ],
        "x": 114,
        "y": 59,
        "w": 832,
        "h": 742
    },
    {
        "id": "65f75de0f3f1a0e7",
        "type": "group",
        "z": "e39621cdb0af65de",
        "name": "현대 공장",
        "style": {
            "label": true,
            "stroke": "#3f93cf"
        },
        "nodes": [
            "c60e11de89188275",
            "da0bdcdc32952b75",
            "d3c47071811d1cf9",
            "30951ad50d943726",
            "66217e9ebf0830d0",
            "edc9a7c20650bba0",
            "3daf5b3f48603496",
            "1225b32a90f6d652",
            "989342420a9062cf",
            "fbe7234c4303e08d",
            "f55bbba249547c54",
            "d27b655630667809",
            "bc59e8f21ee4f45c",
            "cc94f38d1ff1b047",
            "e90c12d7e041e27a",
            "b7104a102875b774",
            "061756318e3e613e",
            "ae39538e176e533c"
        ],
        "x": 1554,
        "y": 59,
        "w": 812,
        "h": 742
    },
    {
        "id": "8d3f5215d4ea270e",
        "type": "inject",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA 광명",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "5889d27cf18ac437",
                "dba908b80bdb992a",
                "0eaa21c35dc46282",
                "b39b8e245f426e55"
            ]
        ]
    },
    {
        "id": "5889d27cf18ac437",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_GWANGMYEONG_PRESS",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 2;\nconst facilityId = 201;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            [
                "57a919e75486ccf1"
            ]
        ]
    },
    {
        "id": "dba908b80bdb992a",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_GWANGMYEONG_BODY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 2;\nconst facilityId = 202;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 400,
        "wires": [
            [
                "57a919e75486ccf1"
            ]
        ]
    },
    {
        "id": "0eaa21c35dc46282",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_GWANGMYEONG_PAINT",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 2;\nconst facilityId = 203;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 460,
        "wires": [
            [
                "57a919e75486ccf1"
            ]
        ]
    },
    {
        "id": "b39b8e245f426e55",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_GWANGMYEONG_ASSEMBLY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 2;\nconst facilityId = 204;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 520,
        "wires": [
            [
                "57a919e75486ccf1"
            ]
        ]
    },
    {
        "id": "6f520d5459d741a1",
        "type": "inject",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA 광주",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 680,
        "wires": [
            [
                "b616fdd769eab778",
                "dcb1ddd4e1c51c85",
                "4ded25f1a86f6e70",
                "c141bc042bf93d87"
            ]
        ]
    },
    {
        "id": "b616fdd769eab778",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_GWANGJU_PRESS",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 3;\nconst facilityId = 301;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "8861a38f351a6cd2"
            ]
        ]
    },
    {
        "id": "dcb1ddd4e1c51c85",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_GWANGJU_BODY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 3;\nconst facilityId = 302;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 640,
        "wires": [
            [
                "8861a38f351a6cd2"
            ]
        ]
    },
    {
        "id": "4ded25f1a86f6e70",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_GWANGJU_PAINT",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 3;\nconst facilityId = 303;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 700,
        "wires": [
            [
                "8861a38f351a6cd2"
            ]
        ]
    },
    {
        "id": "c141bc042bf93d87",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_GWANGJU_ASSEMBLY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 3;\nconst facilityId = 304;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 760,
        "wires": [
            [
                "8861a38f351a6cd2"
            ]
        ]
    },
    {
        "id": "79b9028a18ae7636",
        "type": "inject",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA 화성",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "07f5d7324d070203",
                "a5bd4c5152388a93",
                "3442783b88ed0a4d",
                "56c857d10cbdc1cc"
            ]
        ]
    },
    {
        "id": "07f5d7324d070203",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_HWASEONG_PRESS",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 1;\nconst facilityId = 101;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "eaeb2ee9a5fa4eeb"
            ]
        ]
    },
    {
        "id": "a5bd4c5152388a93",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_HWASEONG_BODY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 1;\nconst facilityId = 102;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 160,
        "wires": [
            [
                "eaeb2ee9a5fa4eeb"
            ]
        ]
    },
    {
        "id": "3442783b88ed0a4d",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_HWASEONG_PAINT",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 1;\nconst facilityId = 103;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "eaeb2ee9a5fa4eeb"
            ]
        ]
    },
    {
        "id": "56c857d10cbdc1cc",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "KIA_HWASEONG_ASSEMBLY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 1;\nconst facilityId = 104;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "eaeb2ee9a5fa4eeb"
            ]
        ]
    },
    {
        "id": "c60e11de89188275",
        "type": "inject",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI 울산",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1680,
        "y": 180,
        "wires": [
            [
                "da0bdcdc32952b75",
                "d3c47071811d1cf9",
                "30951ad50d943726",
                "66217e9ebf0830d0"
            ]
        ]
    },
    {
        "id": "da0bdcdc32952b75",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_ULSAN_PRESS",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 4;\nconst facilityId = 401;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 100,
        "wires": [
            [
                "b7104a102875b774"
            ]
        ]
    },
    {
        "id": "d3c47071811d1cf9",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_ULSAN_PAINT",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 4;\nconst facilityId = 403;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 220,
        "wires": [
            [
                "b7104a102875b774"
            ]
        ]
    },
    {
        "id": "30951ad50d943726",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_ULSAN_ASSEMBLY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 4;\nconst facilityId = 404;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 280,
        "wires": [
            [
                "b7104a102875b774"
            ]
        ]
    },
    {
        "id": "66217e9ebf0830d0",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_ULSAN_BODY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 4;\nconst facilityId = 402;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 160,
        "wires": [
            [
                "b7104a102875b774"
            ]
        ]
    },
    {
        "id": "edc9a7c20650bba0",
        "type": "inject",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI 아산",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1680,
        "y": 440,
        "wires": [
            [
                "3daf5b3f48603496",
                "1225b32a90f6d652",
                "989342420a9062cf",
                "fbe7234c4303e08d"
            ]
        ]
    },
    {
        "id": "3daf5b3f48603496",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_ASAN_PRESS",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 5;\nconst facilityId = 501;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 340,
        "wires": [
            [
                "061756318e3e613e"
            ]
        ]
    },
    {
        "id": "1225b32a90f6d652",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_ASAN_BODY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 5;\nconst facilityId = 502;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1990,
        "y": 400,
        "wires": [
            [
                "061756318e3e613e"
            ]
        ]
    },
    {
        "id": "989342420a9062cf",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_ASAN_PAINT",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 5;\nconst facilityId = 503;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1990,
        "y": 460,
        "wires": [
            [
                "061756318e3e613e"
            ]
        ]
    },
    {
        "id": "fbe7234c4303e08d",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_ASAN_ASSEMBLY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 5;\nconst facilityId = 504;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 520,
        "wires": [
            [
                "061756318e3e613e"
            ]
        ]
    },
    {
        "id": "f55bbba249547c54",
        "type": "inject",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI 전주",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1700,
        "y": 700,
        "wires": [
            [
                "d27b655630667809",
                "bc59e8f21ee4f45c",
                "cc94f38d1ff1b047",
                "e90c12d7e041e27a"
            ]
        ]
    },
    {
        "id": "d27b655630667809",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_JEONJU_PRESS",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 6;\nconst facilityId = 601;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 580,
        "wires": [
            [
                "ae39538e176e533c"
            ]
        ]
    },
    {
        "id": "bc59e8f21ee4f45c",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_JEONJU_BODY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 6;\nconst facilityId = 602;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 640,
        "wires": [
            [
                "ae39538e176e533c"
            ]
        ]
    },
    {
        "id": "cc94f38d1ff1b047",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_JEONJU_PAINT",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 6;\nconst facilityId = 603;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 700,
        "wires": [
            [
                "ae39538e176e533c"
            ]
        ]
    },
    {
        "id": "e90c12d7e041e27a",
        "type": "function",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "HYUNDAI_JEONJU_ASSEMBLY",
        "func": "function random(min, max) {\n    return Number((Math.random() * (max - min) + min).toFixed(4));\n}\n\nfunction round2(value) {\n    return Number(value.toFixed(2));\n}\n\nconst plantId = 6;\nconst facilityId = 604;\nconst key = `energy-total:${plantId}:${facilityId}`;\n\nconst previous = context.get(key) || {\n    electricity_kwh: random(8000, 12000),\n    gas_m3: random(1500, 2500),\n    water_ton: random(80, 130),\n    solar_kwh: random(1000, 2500)\n};\n\n// 현재 부하 kW\n// 1초 동안의 전력 사용량(kWh) = kW / 3600\nconst peakKw = random(950, 2100);\nconst electricityDelta = peakKw / 3600;\n\n// 1초 단위 누적 증가량\nconst gasDelta = random(0.002, 0.015);\nconst waterDelta = random(0.001, 0.008);\n\n// 태양광은 낮 시간대에만 증가하는 느낌\nconst hour = new Date().getHours();\nconst isDaytime = hour >= 7 && hour <= 18;\nconst solarDelta = isDaytime ? random(0.01, 0.12) : 0;\n\nconst next = {\n    electricity_kwh: round2(previous.electricity_kwh + electricityDelta),\n    gas_m3: round2(previous.gas_m3 + gasDelta),\n    water_ton: round2(previous.water_ton + waterDelta),\n    solar_kwh: round2(previous.solar_kwh + solarDelta)\n};\n\ncontext.set(key, next);\n\nmsg.topic = `scada/team5/plant/${plantId}/facility/${facilityId}/energy`;\nmsg.payload = JSON.stringify({\n    plant_id: plantId,\n    facility_id: facilityId,\n    measured_at: new Date().toISOString(),\n\n    // 누적 계량값\n    electricity_kwh: next.electricity_kwh,\n    gas_m3: next.gas_m3,\n    water_ton: next.water_ton,\n    solar_kwh: next.solar_kwh,\n\n    // 현재 부하/피크성 값\n    peak_kw: round2(peakKw)\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2020,
        "y": 760,
        "wires": [
            [
                "ae39538e176e533c"
            ]
        ]
    },
    {
        "id": "f30d0dc083ddfafd",
        "type": "link in",
        "z": "e39621cdb0af65de",
        "name": "link in 1",
        "links": [
            "04d54b06cfdbd104",
            "061756318e3e613e",
            "06a0b540db843747",
            "0e381f2630055394",
            "20498f0fa347a554",
            "2fe1f924bd1d7311",
            "3bcd9d8c59b46c5d",
            "555a77d6101c77d7",
            "57a919e75486ccf1",
            "785a4c6dbf425ff5",
            "7f5b9f13638042cc",
            "7fa268299d1dd598",
            "822653658260c5b9",
            "85c4e4f8d758250d",
            "8861a38f351a6cd2",
            "8f29f9223a1b054f",
            "969e2f7256db04ea",
            "aacec48307df8bdc",
            "ae39538e176e533c",
            "b7104a102875b774",
            "c1034cd22ef4adb3",
            "d2f8cdfdfa5bc44e",
            "eab7dbe25df0ca77",
            "eaeb2ee9a5fa4eeb"
        ],
        "x": 1085,
        "y": 380,
        "wires": [
            [
                "fb182f8e029c3a63",
                "1c3be7ba55305f61"
            ]
        ]
    },
    {
        "id": "fb182f8e029c3a63",
        "type": "debug",
        "z": "e39621cdb0af65de",
        "name": "REALTIME_ENERGY_MONITOR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 340,
        "wires": []
    },
    {
        "id": "1c3be7ba55305f61",
        "type": "mqtt out",
        "z": "e39621cdb0af65de",
        "name": "MQTT_BROKER_PUBLISH",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4266970dc57cf0f5",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "57a919e75486ccf1",
        "type": "link out",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "f30d0dc083ddfafd"
        ],
        "x": 905,
        "y": 420,
        "wires": []
    },
    {
        "id": "8861a38f351a6cd2",
        "type": "link out",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "f30d0dc083ddfafd"
        ],
        "x": 895,
        "y": 660,
        "wires": []
    },
    {
        "id": "eaeb2ee9a5fa4eeb",
        "type": "link out",
        "z": "e39621cdb0af65de",
        "g": "98bf320b32b809bc",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "f30d0dc083ddfafd"
        ],
        "x": 905,
        "y": 180,
        "wires": []
    },
    {
        "id": "b7104a102875b774",
        "type": "link out",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "f30d0dc083ddfafd"
        ],
        "x": 2315,
        "y": 180,
        "wires": []
    },
    {
        "id": "061756318e3e613e",
        "type": "link out",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "f30d0dc083ddfafd"
        ],
        "x": 2315,
        "y": 420,
        "wires": []
    },
    {
        "id": "ae39538e176e533c",
        "type": "link out",
        "z": "e39621cdb0af65de",
        "g": "65f75de0f3f1a0e7",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "f30d0dc083ddfafd"
        ],
        "x": 2325,
        "y": 680,
        "wires": []
    },
    {
        "id": "4266970dc57cf0f5",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]